<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css" />
  <script src="/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js"></script>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>
    <div class="alert alert-primary" role="alert">
        <%= msg%>
    </div>
    <a href="<%= url%>" class="link">点击跳转</a>
  </p>
  </form>
</body>

</html>